.container {
    max-width: 420px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: 2rem 0 2rem 0;

}

.good_morning {
    font-size: 1.3rem;
    font-weight: bold;
}

.compliment {
    font-size: .8rem;
}
